*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(70, 243, 214);
    display: flex;
    justify-content: center; 
    align-content: center;
}
div{
    background-color: rgb(102, 156, 156);
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    border-style: inset;
}
button{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px 15px;
    background: hsl(27, 100%, 70%);
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
button:active span {
    transform: translateY(-2px);
}
button:focus:not(:focus-visible) {
    outline: none;
}
h1{
    color: white;
}
span{
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
    font-size: x-large;
    align-content: center;
    display: block;
    background: hsl(29, 100%, 50%);
    color: white;
    transform: translateY(-6px);
}
